{% if settings.home-tab-one-category != blank %}
  <ul class="pdt-list products-grid">
    {% for product in collections[settings.home-tab-one-category].products limit:4 %}
      {% if collections[settings.home-tab-one-category].all_products_count == 1 %}
        <li class="item" style="width: 50% !important;">
      {% else %}
        <li class="item">
      {% endif %}     
        {% include 'product-grid-item' with 'listing_cols' with 'image_size' %}
        </li>         
    {% endfor %}
  </ul>
{% endif %}   