 
   <div class="header-cart">
  
            {% if settings.header_cart %}
            <div class="mini-cart nav-dropdown-parent">
              <div class="cart-inner">
                <a href="/cart" class="cart-link">
                  <strong class="cart-name">{{'general.cart_info.cart' | t}}</strong> 
                  <span class="cart-price">/ <span class="amount">{{cart.total_price | money | replace:'.00',''}}</span></span>
                  <div class="cart-icon">
                    <strong>{{cart.item_count}}</strong>
                    <span class="cart-icon-handle"></span>
                  </div>
                </a>
              </div>
              <div class="nav-dropdown">
                <div class="nav-dropdown-inner">
                  {% include 'cart-sidebar' %}
                </div>
              </div>
            </div>
            {% endif %}

        </div>
  
  
