{% if cart.attributes.market == "Bayan Baru" %}
  {% include 'homepage.bayan-baru' %}
{% elsif cart.attributes.market == "Serdang" %}
  {% include 'homepage.serdang' %}
{% else %}
  {% include 'homepage.chow-kit' %}
{% endif %}

{% include 'home-bottom-banner' %}
{% include 'widget-logo_brand' %} 

<script>
/* Datepicker initialization */
/* ------------------------- */
// Set query parameters 
var cookieValue = $.cookie("PasarStoreId");
var currentDate = new Date();
var currentHours = currentDate.getHours().toString();
var currentMinutes = currentDate.getMinutes().toString();

if (currentHours < 10) {
  currentHours = '0' + currentHours;
}

  if (currentMinutes < 10) {
  currentMinutes = '0' + currentMinutes;
}

var currentTime = currentHours + currentMinutes;

$(document).ready(function(){
  $.ajax({
      url: 'https://pt-deliveries.herokuapp.com/api/timeslots',
      type: "GET",
      data: {
              shop_id: 1,
              market_id: cookieValue,
              time: currentTime
            },
      dataType: "json",
      success: function(response) {
        InitDatePicker(response); 
      }  
  });
});

function InitDatePicker(response){  
  $( "#datepicker" ).datepicker({
    startDate: new Date(), 
    dateFormat: "D, dd/mm/yy",
    minDate: response.min_date,
    maxDate: 21,
    firstDay: 1 ,
    beforeShowDay: function(date){
      var dayId = date.getDay();
      var dateString = jQuery.datepicker.formatDate('yy-mm-dd', date);
      return [ response.blackout_days.indexOf(dateString) == -1 && response.inactive_days.indexOf(dayId) == -1 ]    
    }, 
    onSelect: function(dateText, inst) {  
      var appurl = 'https://pt-deliveries.herokuapp.com/api/timeslots/';
      var date = $.datepicker.parseDate(inst.settings.dateFormat || $.datepicker._defaults.dateFormat, dateText, inst.settings);
      var day = $.datepicker.formatDate("DD", date, inst.settings);
      var date = $.datepicker.formatDate("yy-mm-dd", date, inst.settings);       

      $.ajax({
        url: appurl + day,
        type: "GET",
        data: { 
                shop_id: 1,
                market_id: $.cookie('PasarStoreId'),
                day: day
              },
        dataType: "json",
        success: function(response) {
          // Load timeslots
          $(".pt-time").hide();
          $(".pt-time option").remove();
          $(".pt-time").append("<option >Timeslot</option>" );

          $.each(response, function( index, timeslot ) {                 
            $(".pt-time").append("<option >" + timeslot + "</option>" );
          });
          
          $(".pt-time").show(); 
        }
      });
    }
  }).position({
      my: "left top",
      at: "left bottom",
      of: $("#datepicker"),
      collision: "none"
    });

  // Load timeslots
  $(".pt-time option").remove();
  $(".pt-time").append("<option >Timeslot</option>" );

  $.each(response.timeslots, function( index, timeslot ) {                 
    $(".pt-time").append("<option >"+ timeslot +"</option>" );
  });
  
  $(".pt-time").show(); 
}
</script>