<h1 style="text-align:center;">This page is for regular customers only.</h1>
<p style="text-align:center;">
	You are currently logged in as a wholesale customer. Kindly <a href="/account/logout">logout</a> to continue browsing as a regular customer.
</p>