{% comment %} 
  <div class="container">
    <div class="row"> {% include 'hot-product' %}
      {% include 'home-tabs' %} </div>
  </div>
  
  {% include 'widget-best-sellers' %}
{% endcomment %}
{% include 'featured-collections-wholesale' %}
{% include 'home-bottom-banner' %}
{% include 'widget-logo_brand' %} 