<h1 style="text-align:center;">This page is for approved wholesale customers only.</h1>
<p style="text-align:center;">
{% unless customer %}
<a href="/account/login">Log in to your account</a> |  
{% endunless %}
<a href="/pages/ptwholesale">Contact us</a> to request a wholesale account.
</p>