jQuery(document).ready(function() {
	// disable quick view button
  $("product-grid-image").hover(function() {
      $('.sca-qv-button').contents().remove('');
  });
  
  // fix issue of clicking prev/next datepicker buttons closes the cart
  $(".ui-datepicker-prev").live('click', function(e) {
    e.stopPropagation();
  });

  $(".ui-datepicker-next").live('click', function(e) {
    e.stopPropagation();
  });

  // apply styling to 'edit account details' page
  $('#customr h1').replaceWith(function () {
      return '<h2 class="page_title">Edit Account Details</h2>';
  });

  $('#customr a[href="/account"]').remove();

  $('#customr-edit').find(':text').addClass('form-control');
  $('#customr-edit').find(':text').attr('size', '40');
  $('#customr-edit').find(':text').css({
    "margin-top": "5px",
    "font-weight": "normal"
  });

  $('#customr-edit').find('input[type=email]').addClass('form-control');
  $('#customr-edit').find('input[type=email]').attr('size', '40');
  $('#customr-edit').find('input[type=email]').css({
    "margin-top": "5px",
    "font-weight": "normal"
  });

  $('#customr').find(':submit').addClass('btn btn-primary');
  $('<a class="btn btn-primary" style="margin-right:5px" href="/account">Back</a>').insertBefore('#customr-edit :submit');
  $('.reset-password').css('margin-top', '5px');

  // remove whilte line in home-slider widget
  $('.line').hide();
});