{% comment %}
Re-use the 'rte' class wherever you output content that was added by a merchant using
the Rich Text Editor ( 'rte' stands for rich text editor ).
Style all HTML elements in that content the same way across the board.
Use the 'rte' class in your CSS to help maintain that consistency.
Example: the h2 element should have the same size and color in:
- product descriptions
- collection descriptions
- 'page' pages' content
- blog post 
{% endcomment %}
<div class="index-scope"> 
  {% assign page = pages.frontpage %} 
<!--
{% comment %}  
<div class="rte">
{{ page.content }} 
</div>
{% endcomment %}
--> 
  {% assign listing_cols = settings.homepage_listing_cols %}
  {% assign image_size = settings.homepage_listing_image_size %}
  {% assign tags = customer.tags | downcase %}
  
  {% if customer and tags contains 'wholesale' %}
      {% include 'wholesale-infopage' %}
  {% else %}
    {% include 'homepage' %}
  {% endif %}
</div>