<div class="qoutation-sign">
                   <i class="fa fa-shopping-cart"></i> 
                   <a href="/pages/request-for-quote"> Quotation </a> 
</div>

<div class="qoutation-sign"> 
                   <a href="/pages/quotes-history""> Quotation History </a> 
</div>